<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>OmniDownloader</title>
</head>
<body>
    {# YouTube #}
    <div>
    <h1 style="display: inline">YouTube</h1>
        <form method="post">
            <input type="text" name="yt_url"/>
            <input type="submit"/>
        </form>
    </div>

    {# Twitter #}
    <div>
    <h1 style="display: inline">Twitter</h1>
        <form method="post">
            <input type="text" name="tt_url"/>
            <input type="submit"/>
        </form>
    </div>

    {# TikTok #}
    <div>
    <h1 style="display: inline">TikTok</h1>
        <form method="post">
            <input type="text" name="ttk_url"/>
            <input type="submit"/>
        </form>
    </div>

    {# Instagram #}
    <div>
    <h1 style="display: inline">Instagram</h1>
        <form method="post">
            <input type="text" name="insta_url"/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>